/* 이미지 로고 */
img {
    width: 248px;
    height: 75px;
    margin-bottom: 40px;
    margin-top: 80px;
}

h2 {
    margin-bottom: 80px; /* 아래쪽 여백 30px */
    color: #DD0D64;
}

/* 중앙 정렬을 위한 스타일 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 휴대전화인증 칸 */
#findphone-div, #findemail-div {
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
}

/* 테이블안에있는 th */
th{
    min-width: 80px;
    text-align: left;
}
/* 테이블안에 th 안에  findId-label 라는 클래스*/
th.findId-label {
    text-align: left;
    
}
/* 이메일 선택 */
#find-div-email {
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 100px;
}

/* 이메일 선택 */
#find-div-phone {
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: left; /* 중앙 정렬 */
    align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

/* 휴대전화인증 칸 */
#findphone-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    margin-bottom: 50px; /* 필요에 따라 간격 조정 */
}

/* 이메일 칸 */
#findemail-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    margin-bottom: 50px; /* 필요에 따라 간격 조정 */
}

/* 테이블 */
table {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


/* 인풋 ㅊㅔ크박스 옆 글 */
label {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B51B75;
    margin-bottom: 0;
}

/* 휴대전화인증인 이메일인증인지 확인하는거 */
input[type=checkbox] {
    transform: scale(1.5);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
}

/* 누르면 검은색 원 */
input[type="checkbox"]:checked {
    background: #000000;
    border: 0.8px solid black;
    transform: scale(1.0);
    outline: none;
}

/* 이름 인증번호 */
input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: transparent;
    outline: none;
}

/* 테이블 안에 라벨 */
#findId-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

/* 핸드폰 앞자리 */
#phone-select{
    min-width: 100px;
    min-height: 40px;
    border: 0.8px solid #535353;
    border-radius: 10px;
}

/* 핸드폰 번호 입력 가운데 */
#phone-mid{
    border: 0.8px solid #535353;
    border-radius: 10px;
}

/* 핸드폰 번호 입력 마지막 */
#phone-end{
    border: 0.8px solid #535353;
    border-radius: 10px;
}

table tr {
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#findId-div th {
    padding: 10px;
    text-align: left;
}

hr{
    width: 100%;
    max-width: 950px;
    padding: 0px;
}

/* 인증번호전송 우편번호찾기 버튼 */
#emailCheckButton{
    min-width: 95px;
}

/* 인증번호 전송 인증확인 우편번호 버튼 */
.check_button {
    border: 2px solid black; /* 테두리를 지정합니다. */
    height: 40px; /* 높이를 지정합니다. */
    width: 100%; /* 너비를 120px로 지정합니다. */
    background-color: #ffffff;
    border-radius: 10px;
    min-width: 68px;
}
.check_button.clicked {
background-color: rgb(219, 219, 219); /* 클릭한 경우의 배경색 */
}

/* 이전 다음 */
.insert-member-div-Phone{
    display: flex;
    justify-content:right;
    margin-top: 40px;
}
/* 버튼 상세 */
.insert-member-div-Phone > button{
    min-width: 70px;
    min-height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #640D6B;
    color: white;
}
/* 이전 다음 */
.insert-member-div-email{
    display: flex;
    justify-content:right;
    margin-top: 40px;
}
/* 버튼 상세 */
.insert-member-div-email > button{
    min-width: 70px;
    min-height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #640D6B;
    color: white;
}

/* 시간초 */
#timer{
    display: inline-block;
}

/* 이메일 인증 시간초 감싸는 div */
#emailTimeContainer{
    width: 300px;
    height: 35px;
    position: relative;
    display: flex;
}
/* 위에꺼랑 합치는거 */
#emailTimeContainer input{
    width: 100%;
}
/* 시간초만 */
#emailTimeContainer div{
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
}

/* 핸드폰 인증 시간초 감싸는 div */
#phoneTimeContainer {
    width: 300px;
    height: 35px;
    position: relative;
    display: flex;
}

/* 위에꺼랑 합치는거 */
#phoneTimeContainer input {
    width: 100%;
}

/* 시간초만 */
#phoneTimeContainer div {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
}

/* 입력값 합친거 안보여주는거 */
#input-value-address,
#input-value-phone,
#input-value-email,
#input-value-genreLike,
#checkResultPhoneTr,
#verificationPhoneTr
{
    display: none;
}