@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-content .section-title{
    width: 900px;
    height: 60px;
    
    background: #B51B75;
    border-radius: 20px 0px 0px 20px;
    
    font-size: 25px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    text-align: left;
    
    padding-left: 20px;
    margin: 30px 0;
    
}

/*콘텐츠 제목*/
.main-content>.main-title{   
    width: 860px;
    height: 40px;

    margin-bottom: 15px;
}

.main-content>.main-title>h2{
    text-align: left;
    padding-left: 20px;   
}

/*나의 게시글 리스트*/
.main-content>table{
    border-collapse: collapse;
    width: 860px;
    height: auto;

    margin: 0 0 40px 0;

    border-top: solid 2px black;
}

.main-content>table tr {
    height: 80px;    
    border-bottom: solid 1px black;
}

.main-content>table .col-name { /*제목 행 th*/
    height: 50px;    
}

.main-content>table th {
    position: relative;
}

.main-content>table th::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50%; /* border의 높이를 th의 50%로 설정 */
    border-right: 1px solid #969696; /* 원하는 border 스타일 설정 */
}

.main-content>table th:nth-child(5)::after {
  border-right: none;
}

.main-content>table td {
    padding: 0 8px;
}

.col-name>#board-title{
    width: 480px;
}

.col-name>#writer{
    width: 120px;
}

.col-name>#enroll-date{
    width: 100px;
}

.col-name>#views{
    width: 80px;
}
.col-name>#likes{
    width: 80px;
}

.tb-content>#btitle{
    text-align: left;
    /*텍스트 넘치면 ...표시되도록 해야됨*/
}









