@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

table{
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

button{
    border: none;
    background: none;
}

.title{
    width: 1250px;
    height: 120px;
    text-align: left;
    line-height: 160px;
    border-bottom: solid 1px black;
    font-size: 31px;
    padding-left: 20px;

}

.main-section{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-section>.side{
    width: 250px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-section>.side>.profile{
    width: 95%;
    height: 260px;
    border: solid 1px black;
    border-radius: 10px;

    margin-top: 50px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section>.side>.profile>img{
    width: 150px;
    height: 150px;

    margin-bottom: 20px;
}

.main-section>.side>.side-menu{
    width: 100%;
}

.main-section>.side>.side-menu>.small-title{
    font-size: 23px;
    font-weight: 800;
    text-align: left;

    border-bottom: solid 2px black;
    padding: 0 0 10px 10px;
    margin-bottom: 20px;
}

.main-section>.side>.side-menu>ul{
    margin: 10px 0;
}

.main-section>.side>.side-menu>ul *{
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}

.main-section>.side>.side-menu>ul>li{
    width: 250px;
    height: 40px;
    padding-left: 15px;
}

.main-section>.side>.side-menu>ul>li>a:hover{
    text-decoration: underline;
}

.main-section>.side>.side-menu>ul>.side-menu-title{
    font-weight: 600;
}

/*메인 콘텐츠*/
.main-section>.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-section>.main-content .section-title{
    width: 900px;
    height: 60px;
    
    background: #B51B75;
    border-radius: 20px 0px 0px 20px;
    
    font-size: 25px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    text-align: left;
    
    padding-left: 20px;
    margin: 30px 0;
    
}

/*콘텐츠 제목*/
.main-section>.main-content>.main-title{   
    width: 860px;
    height: 40px;

    margin-bottom: 15px;
}

.main-section>.main-content>.main-title>h2{
    text-align: left;
    padding-left: 20px;   
}

/*나의 게시글 리스트*/
.main-section>.main-content>table{
    border-collapse: collapse;
    width: 860px;
    height: auto;

    margin: 0 0 40px 0;

    border-top: solid 2px black;
}

.main-content>table tr {
    height: 80px;    
    border-bottom: solid 1px black;
}

.main-content>table .col-name { /*제목 행 th*/
    height: 50px;    
}

.main-content>table th {
    position: relative;
}

.main-content>table th::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50%; /* border의 높이를 th의 50%로 설정 */
    border-right: 1px solid #969696; /* 원하는 border 스타일 설정 */
}

.main-content>table th:nth-child(4)::after {
  border-right: none;
}

.main-content>table td {
    padding: 0 8px;
}

.col-name>#board-title{
    width: 540px;
}

.col-name>#enroll-date{
    width: 120px;
}

.col-name>#views{
    width: 100px;
}
.col-name>#likes{
    width: 100px;
}

.tb-content>#btitle{
    text-align: left;
    /*텍스트 넘치면 ...표시되도록 해야됨*/
}









