@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

.complete{
    background: #4aa500;
    color: white;
}

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-content .section-title{
    width: 900px;
    height: 60px;
    
    background: #B51B75;
    border-radius: 20px 0px 0px 20px;
    
    font-size: 25px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    text-align: left;
    
    padding-left: 20px;
    margin: 30px 0;
    
}

/*콘텐츠 제목*/
.main-content>.main-title{   
    width: 860px;
    height: 40px;

    margin-bottom: 15px;
}

.main-content>.main-title>h2{
    text-align: left;
    padding-left: 20px;   
}


.main-content>#inq-section{
    width: 860px;
    height: auto;

    border-top: 2px solid black;

}

#inq-section li{
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid black;
}


li>.inq-info{
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

li>.inq-info:hover{
    cursor: pointer;
    background: rgb(245, 245, 245);
}

li>.inq-info .inq-cate{
    width: 100px;
    height: 40px;

    background: white;

    border: 1px solid black;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}


li>.inq-info .inq-title{
    width: 500px;
    height: 40px;

    text-align: left;
    line-height: 40px;

}

li>.inq-info .inq-date{
    width: 100px;
    height: 40px;

    line-height: 40px;

}

li>.inq-info .isAnswer{
    width: 70px;
    height: 30px;

    font-size: 12px;
    text-align: center;
    line-height: 30px;

    padding: 0 0;
    margin: 0 0;
}

.fold-content{
    width: 80%;
    height: auto;
}

.fold-content p{
    text-align: left;
}

.fold-content h3{
    width: 100%;
    text-align: left;
}


/*문의하기 버튼*/
#inq-enroll-btn{
    width: 860px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#inq-enroll-btn>a{
    margin-bottom: 50px;
    margin-right: 10px;
}

#inq-enroll-btn>a:hover{
    text-decoration: underline;
}


