@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-content>*{
    margin: 50px 0;
}

.main-content table{
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

.main-content tbody>tr:hover{
    cursor: pointer;
    background: rgb(245, 245, 245);
}

.main-content>#reserve-td{
    width: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

/*테이블 소제목*/
.table-title{
    width: 100%;

    position: relative;

    font-size: 22px;
    font-weight: 600;
    text-align: left;

    padding: 0 0 10px 10px;
}

.table-title>button{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;

    border: none;
    background: none;

    font-size: 30px;
    font-weight: 500;

    text-align: center;
    line-height: 30px;
}

.table-title>button:hover{
    background: rgb(245, 245, 245);
}


.more-btn{
    position: relative;
}

.more-btn>a{
    position: absolute;
    right: 0;
    font-size: 15px;
    font-weight: 500;

    padding: 10px 10px 0 0;
}

.more-btn>a:hover{
    text-decoration: underline;
}


.main-content>#reserve-td>table{
    align-self: center;
    width: 100%;
}

.main-content>#reserve-td>table tr{
    height: 40px;
}

.main-content>#reserve-td>table th{
    border-bottom: solid 1px black;
    text-align: center;
}

.main-content>#reserve-td>table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*예매일*/
.main-content>#reserve-td>table #reserve-date{
    width: 100px;
}
/*예약번호*/
.main-content>#reserve-td>table #reserve-no{
    width: 120px;
}
/*공연명*/
.main-content>#reserve-td>table #concert-title{
    width: 400px;
}
/*관람일*/
.main-content>#reserve-td>table #watch-date{
    width: 100px;
}
/*매수*/
.main-content>#reserve-td>table #ticket-amount{
    width: 60px;
}



.main-content>#like-and-review{
    width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#review span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#review span>img{
    width: 18px;
    height: 18px;

    margin-right: 10px;
}



.main-content table{
    width: 400px;
}
.main-content table tbody{
    width: 100%;
}
.main-content table tr{
    width: 100%;
}

.main-content table td{
    height: 40px;
}

.main-content table .long-td{
    width: 310px;
    text-align: left;
    padding-left: 20px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: block;
    line-height: 40px;
}

.main-content table .short-td{
    width: 90px;
}

.main-content>#like-and-review>*{
    width: 40%;
    margin: 0 15px;
}

.main-content>#community-manage{
    width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-content>#community-manage>*{
    width: 40%;
    margin: 0 15px;
}








