@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    position: relative;
}

/*콘텐츠 제목*/
.main-content>.main-title{   
    width: 820px;
    height: 80px;

    margin-top: 40px;
}

.main-content>.main-title>h2{
    text-align: left;
    line-height: 80px;
    padding-left: 20px;   
}

/*찜목록 리스트 테이블*/
.main-content>table{
    border-collapse: collapse;
    width: 820px;
    height: auto;

    margin: 0 0 60px 0;

    border-top: solid 2px black;

}

.main-content>table tr{
    height: 140px;
    border-bottom: solid 1px black;
}


.main-content>table .tb-title{
    border-top: solid 2px black;
    height: 50px;
}


/*공연 포스터 이미지*/
.main-content>table #concert-img{
    width: 140px;
}

.main-content>table img{
    width: 90px;
    height: 120px;
}

.main-content>table #content{
    width: 520px;
    padding: 0 10px;
}

.main-content>table #content>*{
    text-align: left;
}

.main-content>table #content>h5{
    margin: 10px 0;
}

.main-content>table #age-limit{
    width: 160px;
    height: 140px;

    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.main-content>table #age-limit>button{
    width: 25px;
    height: 25px;

    border: none;
    background: none;

    font-size: 25px;
    font-weight: 500;

    text-align: center;
    line-height: 25px;

    align-self: flex-end;

    margin: 10px 10px 0 0;
}









