@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    position: relative;
}

/*콘텐츠 제목*/
.main-content>.main-title{   
    width: 820px;
    height: 80px;

    margin-top: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content>.main-title>h2{
    text-align: left;
    line-height: 80px;
    padding-left: 20px;   
}

.main-content>.main-title>div{
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 10px;
}

/*선택삭제 버튼*/
.main-content>.main-title #deleteBtn{
    width: 100px;
}

/*전체선택 체크박스*/
.main-content>.main-title>div>input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: 0 15px 5px 15px;
}

/*찜목록 리스트 테이블*/
.main-content>table{
    border-collapse: collapse;
    width: 820px;
    height: auto;

    margin: 0 0 60px 0;

    border-top: solid 2px black;

}

.main-content>table tr{
    height: 140px;
    border-bottom: solid 1px black;
}


.main-content>table .tb-title{
    border-top: solid 2px black;
    height: 50px;
}


/*공연 포스터 이미지*/
.main-content>table .concert-img{
    width: 140px;
}

.main-content>table img{
    width: 90px;
    height: 120px;
}

.main-content>table .concert-content{
    width: 520px;
    padding: 0 10px;
}

.main-content>table img,.concert-content:hover{
    cursor: pointer;
}


.main-content>table .concert-content>*{
    text-align: left;
}

.main-content>table .concert-content>h3{
    margin-bottom: 15px;
}


.main-content>table .age-checkbox{
    width: 160px;
    height: 140px;

    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;   
}

.main-content>table .age-checkbox>*{
    margin-right: 15px;
}

.main-content>table .age-checkbox>div{
    width: 20px;
    height: 20px;
    
    margin-top: 15px;
}

/*찜목록 공연 각각의 checkbox요소*/
.main-content>table .age-checkbox input[type=checkbox]{
    width: 100%;
    height: 100%;
}









