@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/*콘텐츠 제목*/
.main-content>.main-title{   
    width: 820px;
    height: 80px;

    margin-top: 40px;
}

.main-content>.main-title>h2{
    text-align: left;
    line-height: 80px;
    padding-left: 20px;   
}

/*찜목록 리스트 테이블*/
.main-content>table{
    border-collapse: collapse;
    width: 820px;

    margin: 0 0 60px 0;

    border-top: solid 2px black;

}

.main-content>table tr{
    height: 150px;
    border-bottom: solid 1px black;
}

.main-content>table .tb-title{
    border-top: solid 2px black;
    height: 50px;
}

/*공연 포스터 이미지*/
.main-content>table .concert-img{
    width: 140px;
}

.main-content>table .concert-img:hover{
    cursor: pointer;
}

.main-content>table .concert-img>img{
    width: 90px;
    height: 120px;
}

/*공연명 + 한줄평 내용*/
.main-content>table .content{
    width: 580px;
    height: 150px;
    padding: 15px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content>table .content>*{
    text-align: left;
}

/**/
.main-content>table .review-func{
    width: 100px;
    height: 150px;
}

.main-content>table .review-func>span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
}


.main-content>table .review-func>span>*{
    width: 20px;
    height: 20px;
    margin: 0 2px;
}

.main-content>table .review-func>button{
    width: 90px;
    height: 35px;
}
.main-content>table .review-func>button>h4{

}

/*modal*/
.concert-tag {
    border: 1px solid #969696;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    cursor: pointer;
}

.concert-tag tr img {
    width: 100px;
    margin: 0 30px 0 10px;
}

.star-rating {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.star-rating>h3 {
    width: 60px;
    text-align: left;
}

.star-label {
    margin-bottom: 0;
}

.star-label .star-icon {
    width: 30px;
	height: 30px;
	display: block;
	background-repeat: no-repeat;
    cursor: pointer;
}

.star-label .star-icon>img {
    width: 100%;
}

.comment-area {
    display: flex;
    align-items: start;
}

.comment-area>h3 {
    width: 60px;
    text-align: left;
}

.comment-area>textarea {
    width: calc(100% - 60px);
    border: 1px solid #969696;
    outline: none;
    padding: 10px;
    resize: none;
}







