@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

main>.title{
    width: 1250px;
    height: 120px;
    text-align: left;
    line-height: 160px;
    border-bottom: solid 1px black;
    font-size: 31px;
    padding-left: 20px;

}

main>.main-section{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main>.main-section>.side{
    width: 250px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main>.main-section>.side>.profile{
    width: 95%;
    height: 260px;
    border: solid 1px black;
    border-radius: 10px;

    margin-top: 50px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>.main-section>.side>.profile>img{
    width: 150px;
    height: 150px;

    margin-bottom: 20px;
}

main>.main-section>.side>.side-menu{
    width: 100%;
}

main>.main-section>.side>.side-menu>.small-title{
    font-size: 23px;
    font-weight: 800;
    text-align: left;

    border-bottom: solid 2px black;
    padding: 0 0 10px 10px;
    margin-bottom: 20px;
}

main>.main-section>.side>.side-menu>ul{
    margin: 10px 0;
}

main>.main-section>.side>.side-menu>ul *{
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}

main>.main-section>.side>.side-menu>ul>li{
    width: 250px;
    height: 40px;
    padding-left: 15px;
}

main>.main-section>.side>.side-menu>ul>.side-menu-title{
    font-weight: 600;
}

/*메인 콘텐츠*/
main>.main-section>.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/*콘텐츠 제목*/
main>.main-section>.main-content>.main-title{   
    width: 820px;
    height: 80px;

    margin-top: 40px;
}

main>.main-section>.main-content>.main-title>h2{
    text-align: left;
    line-height: 80px;
    padding-left: 20px;   
}

/*찜목록 리스트 테이블*/
main>.main-section>.main-content>table{
    border-collapse: collapse;
    width: 820px;

    margin: 0 0 40px 0;

    border-top: solid 2px black;

}

main>.main-section>.main-content>table tr{
    height: 150px;
    border-bottom: solid 1px black;
}

/*공연 포스터 이미지*/
main>.main-section>.main-content>table #concert-img{
    width: 140px;
}

main>.main-section>.main-content>table img{
    width: 90px;
    height: 120px;
}

main>.main-section>.main-content>table #content{
    width: 580px;
    height: 150px;
    padding: 15px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main>.main-section>.main-content>table #content>*{
    text-align: left;
}

main>.main-section>.main-content>table #review-func{
    width: 100px;
    height: 150px;
}

main>.main-section>.main-content>table #review-func>button{
    width: 70px;
    height: 35px;

    background: none;
    border: 1px solid black;
    border-radius: 5px;

}

.concert-tag img{
    width: 100px;
    height: 130px;
    margin-right: 10px;
}













