@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-content>.main-title{   
    width: 820px;
    height: 80px;

    margin-top: 40px;
}

/*콘텐츠 제목*/
.main-content>.main-title>h2{
    text-align: left;
    line-height: 80px;
    padding-left: 20px;   
}

/*결제내역 리스트 테이블*/
.main-content>table{
    border-collapse: collapse;
    width: 820px;
    height: auto;

    margin: 0 0 60px 0;
}


.main-content>table tr{
    height: 140px;
    
    border-bottom: solid 1px black;
}

.main-content>table th {
    position: relative;
}

.main-content>table th::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50%; /* border의 높이를 th의 50%로 설정 */
    border-right: 1px solid #969696; /* 원하는 border 스타일 설정 */
}

.main-content>table th:nth-child(3)::after {
    border-right: none;
}

.main-content>table .tb-title{
    border-top: solid 2px black;
    height: 50px;
}

/* 예약번호 */
.main-content>table .tb-content>.reserve-no{
    width: 80px;
}

/* 공연정보 */
.main-content>table .tb-content>.concert-info{
    width: 500px;
}

/* 예매정보 */
.main-content>table .tb-content>.reserve-info{
    width: 180px;
}

.main-content>table .concert-info{
    padding-left: 20px;
}

.main-content>table .concert-info>*{
    text-align: left;
}

/*공연명*/
.main-content>table .concert-info>h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

.main-content>table .concert-info>h5{
    margin: 10px 0;
}

.main-content>table .reserve-info{
    padding: 0 20px;
    text-align: left;
}

/* 예매정보 hover */
.main-content>table .reserve-info:hover{
    cursor: pointer;
    background: rgb(245, 245, 245);
}











