@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/*메인 콘텐츠*/
.main-content{
    width: 950px;
    height: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-content>.main-title{   
    width: 820px;
    height: 80px;

    margin-top: 40px;
}

/*콘텐츠 제목*/
.main-content>.main-title>h2{
    text-align: left;
    line-height: 80px;
    padding-left: 20px;   
}

/*결제내역 리스트 테이블*/
.main-content>table{
    border-collapse: collapse;
    width: 820px;
    height: auto;

    margin: 0 0 60px 0;
}


.main-content>table tr{
    height: 140px;
    
    border-bottom: solid 1px black;
}

.main-content>table .tb-title{
    border-top: solid 2px black;
    height: 50px;
}


.main-content>table .tb-title>#concert-info{
    width: 620px;
}
.main-content>table .tb-content>td:nth-child(1){
    width: 140px;
}
.main-content>table .tb-content>td:nth-child(2){
    width: 500px;
}
.main-content>table .tb-title>#reserve-info{
    width: 200px;
}

/*공연 포스터 이미지*/
.main-content>table img{
    width: 90px;
    height: 120px;
}


.main-content>table #content{
    padding-left: 20px;
}
.main-content>table #content>*{
    text-align: left;
}










