@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

button{
    border: none;
    background: none;
}

.title{
    width: 1250px;
    height: 120px;
    text-align: left;
    line-height: 160px;
    border-bottom: solid 1px black;
    font-size: 31px;
    padding-left: 20px;

}

.main-section{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-section>.side{
    width: 250px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-section>.side>.profile{
    width: 95%;
    height: 260px;
    border: solid 1px black;
    border-radius: 10px;

    margin-top: 50px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section>.side>.profile>img{
    width: 150px;
    height: 150px;

    margin-bottom: 20px;
}

.main-section>.side>.side-menu{
    width: 100%;
}

.main-section>.side>.side-menu>.small-title{
    font-size: 23px;
    font-weight: 800;
    text-align: left;

    border-bottom: solid 2px black;
    padding: 0 0 10px 10px;
    margin-bottom: 20px;
}

.main-section>.side>.side-menu>ul{
    margin: 10px 0;
}

.main-section>.side>.side-menu>ul *{
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}

.main-section>.side>.side-menu>ul>li{
    width: 250px;
    height: 40px;
    padding-left: 15px;
}

.main-section>.side>.side-menu>ul>li>a:hover{
    text-decoration: underline;
}

.main-section>.side>.side-menu>ul>.side-menu-title{
    font-weight: 600;
}

/*메인 콘텐츠*/
.main-section>.main-content{
    width: 950px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    margin-bottom: 40px;
}

.main-section>.main-content .section-title{
    width: 900px;
    height: 60px;
    
    background: #B51B75;
    border-radius: 20px 0px 0px 20px;
    
    font-size: 25px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    text-align: left;
    
    padding-left: 20px;
    margin: 30px 0;
}

.main-section>.main-content>.main-title{   
    width: 820px;
}

.main-section>.main-content>.main-title>h2{
    text-align: left;
    padding-left: 20px;   
}

.main-content>#profile-update{
    width: 820px;
    border-top: 2px solid black;
}

/*비밀번호 인증*/
.main-content>#profile-update>#password-auth{
    width: 100%;

    margin: 20px 0 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.main-content>#profile-update>#password-auth>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin: 10px 0;
}

.main-content>#profile-update>#password-auth>div>*{
    margin: 0 10px 0 0;
}

.main-content>#profile-update>#password-auth>div>input{
    padding: 0 5px;
}

.main-content>#profile-update>#password-auth #auth-fail{
    color: red;
}


/*회원정보 변경 form*/
.main-content>#profile-update>form{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-content>#profile-update #profile-img{
    margin: 30px 0;
}

.main-content>#profile-update #profile-img>img{
    width: 180px;
    height: 180px;
}

.main-content>#profile-update #profile-img>img:hover{
    cursor: pointer;
    filter: brightness(0.8);

}

.main-content>#profile-update #update-form{
    width: 820px;
    height: auto;
    border-bottom: 1px solid black;
    
    display: flex;
    justify-content: center;

    padding-bottom: 20px;
}

.main-content>#profile-update #update-form>table{
    border-collapse: collapse;
    width: 560px;
    height: auto;
}

.main-content>#profile-update #update-form>table td{
    height: 30px;
}

/*입력내용 종류(1번째 칸)*/
.main-content>#profile-update #update-form th{
    width: 120px;
    height: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-content>#profile-update #update-form th>h3{
    width: 100%;
    text-align: left;
}
    

/*입력 박스(2번째 칸)*/
.main-content>#profile-update #update-form .input-box{
    width: 300px;
    height: 60px;
    border-bottom: 1px solid black;

    position: relative;

}

.main-content>#profile-update #update-form .input-box>input[type="text"], input[type="date"]{
    border: none;
    width: 100%;
    height: 30px;

    position: absolute;
    bottom: 0px;
    left: 0px;

    text-align: left;

    padding-left: 10px;
}

.main-content>#profile-update #update-form #pwd-btn{
   position: relative;
}
.main-content>#profile-update #update-form #pwd-btn>button{
    width: 100px;
    height: 30px;
    
    position: absolute;
    left: 0;
    bottom: 0;

    background: none;
    border: 1px solid black;
    border-radius: 10px;

    cursor: pointer;

}

.main-content>#profile-update #update-form #phone-input{
    position: relative;
}

.main-content>#profile-update #update-form #phone-input>div{
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-content>#profile-update #update-form #phone-input input{
    width: 105px;
    text-align: left;
    
    margin: 0 3px 0 0;
    padding: 0 10px;

    border: 1px solid black;
    border-radius: 5px;
}

.main-content>#profile-update #update-form #phone-input #front-num{
    width: 70px;
    text-align: center;
    border-radius: 5px;
}


.main-content>#profile-update #update-form #gender-input{
    position: relative;
}

.main-content>#profile-update #update-form #gender-input>div{
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
}

.main-content>#profile-update #update-form #gender-input label{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    
    align-items: center;

    margin-right: 20px;
    margin-bottom: 0;
}

.main-content>#profile-update #update-form #gender-input label>*{
    margin-right: 10px;
}


.main-content>#profile-update #update-form #gender-input input[type='radio']{
    width: 20px;
    height: 20px;

    margin-bottom: 5px;
    margin-top: 5px;
}




.main-content>#profile-update #update-form #email-input{
    position: relative;
}

.main-content>#profile-update #update-form #email-input>div{
    bottom: 0;
    left: 0;
    position: absolute;

    margin-bottom: 5px;
}

.main-content>#profile-update #update-form #email-input>div>input{
    width: 135px;
    border: 1px solid black;
    border-radius: 5px;

    padding-left: 10px;
}

.main-content>#profile-update #update-form #like-genre-input{
    position: relative;
}

.main-content>#profile-update #update-form #like-genre-input>div{
    position: absolute;
    top: 35px;
    left: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2열로 나누고 각 열의 너비를 동일하게 설정 */
    gap: 10px; /* 버튼 사이의 간격 */
}

.main-content>#profile-update #update-form #like-genre-input>div>button {
    width: 100%;
}

/*입력 버튼(3번째 칸)*/
.main-content>#profile-update #update-form .input-btn{
    width: 130px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-content>#profile-update #update-form .input-btn>button{
    width: 90px;
    height: 30px;

    background: none;
    border: 1px solid black;
    border-radius: 10px;

    cursor: pointer;
}


.main-content>#profile-update #update-form .input-btn>select{
    border: 1px solid black;
    border-radius: 5px;
}

.main-content>#profile-update #update-form .warning-text{
    height: 17px;
}




.main-content>#profile-update #update-form .warning-text h5{
    text-align: right;
    color: red;
}



.main-content>#profile-update #submit-btn{
    width: 100%;
    margin: 20px 0;

    display: flex;
    justify-content: flex-end;

}
.main-content>#profile-update #submit-btn>*{
    margin: 0 5px;
}



/*모달 공통*/


/*비밀번호 변경 modal*/
.pwd-tag {
    padding: 20px 40px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.pwd-tag>div{
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pwd-tag>.pwd-check{
    position: relative;
}

.pwd-tag>.pwd-check>h5{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}

.pwd-tag>div>*{
    margin: 0 20px;
}

.pwd-tag h3{
    text-align: left;
}

.pwd-tag input {
    width: 50%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;

    padding: 0 10px;
}

.pwd-tag i::before{
    width: 40px;
    height: 40px;
}

/*프로필 사진 변경*/
.img-tag {
    padding: 20px 40px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-tag>*{
    margin: 0 20px;
}

.img-tag img{
    width: 140px;
    height: 140px;
}

.img-tag .options{
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-tag label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img-tag label>input[type='radio'], h4{
    margin-right: 10px;
}

.img-tag input[type='file']{
}

.comment-area {
    display: flex;
    align-items: start;
}

.comment-area>h3 {
    width: 60px;
    text-align: left;
}

.comment-area>textarea {
    width: calc(100% - 60px);
    border: 1px solid #969696;
    outline: none;
    padding: 10px;
    resize: none;
}




div>img{
    border: 3px solid #D9D9D9;
    border-radius: 50%;
}



