.hidden {
    display: none;
}

.selected {
    color: #B51B75;
}

#community-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#community-nav {
    border: 1px solid #969696;
    padding: 50px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#community-nav>li {
    cursor: pointer;
}

@media (max-width: 1200px) {
    #community-nav {
        display: none;
    }
}

#write-btn {
    background-color: #B51B75;
    border-radius: 10px;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    cursor: pointer;
}

#write-btn>img {
    width: 20px;
    height: 20px;
}

#community-contents {
    padding: 10px;
    width: 900px;
    height: fit-content;
}

#community-contents>li {
    margin: 10px;
    cursor: pointer;
}

#community-search {
    border: 1px solid #969696;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#community-search>button {
    border: none;
    background: none;
    cursor: pointer;
    width: 60px;
    height: 40px;
}

#community-search>button>img {
    width: 20px;
}

#community-search>input {
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
}

.community-posting {
    border: 1px solid #969696;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

.community-posting td {
    padding: 2px 5px;
}

.profile-area>td:nth-child(1)>img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.profile-area>td:nth-child(2) {
    width: 700px;
}

.profile-area>td:nth-child(3)>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

#community-pagination {
    display: flex;
    justify-content: center;
}

#community-category>button {
    margin-right: 5px;
}

.boardContent>p
, .boardContent>div
, .boardContent img {
    display: none;
}

.boardContent>p:nth-child(1)
, .boardContent>div:nth-child(1) {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}