@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

#concert-reservation-calendar-area{
    width: 1300px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#reservation-calendar-choice{
    width: 249px;
    height: 60px;
    border: solid 1px #d9d9d9;  
    border-radius: 0px 50px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#concert-calendar-choice{
    width: 251px;
    height: 60px;
    border: solid 1px #d9d9d9;
    border-radius: 50px 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reservation-calendar-choice:hover span{
    color: #B51B75;
}

#concert-calendar-choice:hover span{
    color: #B51B75;
}

#reservation-calendar-choice>span{
    font-size: 22px;
    font-weight: bold;
    color: #969696;
    cursor: pointer;
}

#concert-calendar-choice>span{
    font-size: 22px;
    font-weight: bold;
    color: #969696;
    cursor: pointer;
}

#calendar-container{
    width: 1300px;
    height: 1000px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;

}

.concert-calendar-area{
    width: 50%;
    height: 100%;
    border-right: 1px solid #969696;
    display: flex;
    flex-direction: column;
    
}

.concert-calendar-title-area{
    width: auto;
    height: auto;
    margin-top: 10px;
}

.concert-calendar-title-area>span{
    font-size: 40px;
    font-weight: 700;
}

.calendar{
    margin: 75px;
    margin-top: 30px;
    width: 500px;
    height: 500px;
}

.calendar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.calendar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li{
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

#previous,
#next{
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#previous::before,
#next::before{
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    color: #ccc;
}

#previous::before{
    transform: translate(-50%, -50%) rotate(-135deg);
}

#next::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

#previous:hover::before,
#next:hover::before{
    border-color: #B51B75;
}

.days{
    font-weight: 600;
}

.dates li:hover::before{
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #B51B75;
    border-radius: 50px;
    z-index: -1;
    cursor: pointer;
}   

.dates li:hover{
    color: white;
    cursor: pointer;
}

.dates li.today{
    /* color: #ccc */
}

/* .dates li.today::before{    
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #B51B75;
    border-radius: 50px;
    z-index: -1;
} */

.dates li.inactive{
    color: #ccc
}

.clickDate::before{
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #B51B75;
    border-radius: 50px;
    z-index: -1; 
}

.dates li.clicked{
    color: white;
}



/* 공연 목록 */

.concert-day-list-area{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.concert-list-title-area{
    width: auto;
    height: auto;
    margin-top: 10px;
}

.concert-list-title-area>span{
    font-size: 40px;
    font-weight: 700;
}

.concert-day-list-category{
    width: 650px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 10px;
}

.concert-day-choice-area{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative; 
}

.concert-day-choice-area>div{
    border: none;
    border-radius: 20px;
    background: #F8D082;
    padding: 3px 20px;
}

.concert-day-choice-area>div>span{
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
}

.concert-day-choice-area .btn-staez{
    cursor: auto;
}


.concert-day-more{
    padding: 6px 20px;
    background: none;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color: #969696;
    font-weight: 700;
    position: absolute;
    right: 0px;
    bottom: 25%;
    cursor: pointer;
}

.concert-day-info-area{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.concert-day-info{
    width: 318px;
    height: 200px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.concert-day-info:hover {
    /* -webkit-transform: scale(1.3);
    transform: scale(1.1); */
    background-color: #D9D9D9;
}

.concert-day-title-area{
    margin-top: 20px;
}

.concert-day-title-area span{
    font-size: 18px;
    font-weight: 600;
}

.concert-day-img-description-area{
    width: 310px;
    padding: 15px 20px 20px 20px;
    height: 150px;
    display: flex;
    align-items: center;
}

.concert-day-img-description-area>img{
    width: 90px;
    margin-right: 3px;
}

.concert-day-description-area{
    width: 180px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.concert-day-description-area div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.concert-day-description-area div span{
    font-size: 13px;
}

.concert-day-description-area div :nth-child(1){
    font-weight: 500;
    width: 52px;
    text-align: left;
}

.concert-day-description-area div :nth-child(2){
    font-weight: 400;
    width: 110px;
    text-align: left;
}

.hidden{
    display: none;
}