<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="adminMapper">
	<resultMap type="Board" id="boardResult">
		<result column="board_no" property="userNo" />
		<result column="refBoardNo" property="userId" />
		<result column="user_pwd" property="userPwd" />
		<result column="nickname" property="nickname" />
		<result column="gender" property="gender" />
		<result column="birth" property="birth" />
		<result column="address" property="address" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="genre_like" property="genreLike" />
		<result column="grade" property="grade" />
		<result column="enroll_date" property="enrollDate" />
		<result column="withdrawal_date" property="withdrawalDate" />
		<result column="user_status" property="userStatus" />
	</resultMap>
	<resultMap type="Category" id="categoryResult">
		<result column="category_no" property="categoryNo"/>
		<result column="ref_category_no" property="refCategoryNo"/>
		<result column="category_name" property="categoryName"/>
		<result column="category_level" property="categoryLevel"/>
	</resultMap>

	<select id="selectFaqCategory" resultMap="categoryResult">
		SELECT
			category_no,
			ref_category_no,
			category_name,
			category_level
		FROM category
		WHERE ref_category_no = #{refCategoryNo}
	</select>
	
	<insert id="faqIncert">
		INSERT INTO board
		(
			user_no,
			board_code,
			board_title,
			board_content
		) VALUES (
			#{userNo},
			#{boardCode},
			#{boardTitle},
			#{boardContent}
		)
	</insert>
	
	<insert id="faqCategoryIncert" parameterType="_int">
		INSERT INTO board_category
		(
			board_no,
			category_no
		) values (
			CURRVAL('board_board_no_seq'::regclass),
			#{categoryNo}
		)
	</insert>
</mapper>

