<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="adminMapper">
	<resultMap type="Board" id="boardResult">
		<result column="board_no" property="userNo" />
		<result column="refBoardNo" property="userId" />
		<result column="user_pwd" property="userPwd" />
		<result column="nickname" property="nickname" />
		<result column="gender" property="gender" />
		<result column="birth" property="birth" />
		<result column="address" property="address" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="genre_like" property="genreLike" />
		<result column="grade" property="grade" />
		<result column="enroll_date" property="enrollDate" />
		<result column="withdrawal_date" property="withdrawalDate" />
		<result column="user_status" property="userStatus" />
	</resultMap>
	<resultMap type="Category" id="categoryResult">
		<result column="category_no" property="categoryNo"/>
		<result column="ref_category_no" property="refCategoryNo"/>
		<result column="category_name" property="categoryName"/>
		<result column="category_level" property="categoryLevel"/>
	</resultMap>
	<resultMap type="Theater" id="theaterResult">
		<result column="theater_no" property="theaterNo"/>
		<result column="theater_name" property="theaterName"/>
		<result column="theater_row" property="theaterRow"/>
		<result column="theater_col" property="theaterCol"/>
		<result column="address" property="address"/>
		<result column="telno" property="telno"/>
	</resultMap>
	<resultMap type="ImpossibleSeat" id="impossibleSeatResult">
		<result column="impossible_seat_no" property="impossibleSeatNo"/>
		<result column="theater_no" property="theaterNo"/>
		<result column="impossible_seat_row" property="impossibleSeatRow"/>
		<result column="impossible_seat_col" property="impossibleSeatCol"/>
	</resultMap>

	<select id="selectFaqCategory" resultMap="categoryResult">
		SELECT
			category_no,
			ref_category_no,
			category_name,
			category_level
		FROM category
		WHERE ref_category_no = #{refCategoryNo}
	</select>
	
	<insert id="faqIncert">
		INSERT INTO board
		(
			user_no,
			board_code,
			board_title,
			board_content
		) VALUES (
			#{userNo},
			#{boardCode},
			#{boardTitle},
			#{boardContent}
		)
	</insert>
	
	<insert id="faqCategoryIncert">
		INSERT INTO board_category
		(
			board_no,
			category_no
		) values (
			CURRVAL('board_board_no_seq'::regclass),
			#{categoryNo}
		)
	</insert>
	
	<insert id="incertTheater">
		INSERT INTO theater
		(
			theater_name,
			theater_row,
			theater_col,
			address,
			telno
		) VALUES (
			#{theaterName},
			${theaterRow},
			${theaterCol},
			#{address},
			#{telno}
		)
	</insert>
	
	<insert id="incertImpossibleSeat">
		INSERT INTO impossible_seat
		(
			theater_no,
			impossible_seat_row,
			impossible_seat_col
		) VALUES (
			CURRVAL('theater_theater_no_seq'::regclass),
			${impossibleSeatRow},
			${impossibleSeatCol}
		)
	</insert>
	
	<select id="selectTheacterList" resultMap="theaterResult">
		SELECT
			theater_no,
			theater_name,
			theater_row,
			theater_col
		FROM theater
		WHERE theater_name LIKE '%${keyword}%'
		LIMIT 5
	</select>
</mapper>

