<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="concertMapper">
	<!-- 
		<resultMap type="mybatis-config.xml의 alias값" id="객체명Result 형태">
			<result column="user_no" property="userNo" />
		</resultMap>
	 -->

	<!-- db의 컬럼과 객체의 필드명이 완전히 같다면 resultType사용 가능 -->
	
	<resultMap type="Concert" id="concertResult">
		<result column="concert_no" property="concertNo"/>
		<result column="theater_no" property="theaterNo"/>
		<result column="concert_title" property="concertTitle"/>
		<result column="concert_plot" property="concertPlot"/>
		<result column="concert_runtime" property="concertRuntime"/>
		<result column="concert_members" property="concertMembers"/>
		<result column="concert_production" property="concertProduction"/>
		<result column="age_limit" property="ageLimit"/>
		<result column="update_date" property="updateDate"/>
		<result column="concert_status" property="concertStatus"/>
		<result column="theater_name" property="theaterName"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="file_path" property="filePath"/>
		<result column="category_name" property="categoryName"/>
	</resultMap>
		
	<resultMap type="Category" id="categoryResult">
		<result column="category_no" property="categoryNo"/>
		<result column="ref_category_no" property="refCategoryNo"/>
		<result column="category_name" property="categoryName"/>
		<result column="category_level" property="categoryLevel"/>
	</resultMap>
	
	<resultMap type="ConcertAttachment" id="concertAttachmentResult">
		<result column="file_no" property="fileNo"/>
		<result column="concert_no" property="concertNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="file_path" property="filePath"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="file_level" property="fileLevel"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap type="Theater" id="theaterResult">
		<result column="theater_no" property="theaterNo"/>
		<result column="theater_name" property="theaterName"/>
		<result column="theater_row" property="theaterRow"/>
		<result column="theater_col" property="theaterCol"/>
		<result column="address" property="address"/>
		<result column="telno" property="telno"/>
	</resultMap>
	
	<resultMap type="ConcertLike" id="concertLikeResult">
		<result column="concert_like_no" property="concertLikeNo"/>
		<result column="user_no" property="userNo"/>
		<result column="concert_no" property="concertNo"/>
		<result column="concert_like_date" property="updateDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap type="ConcertSchedule" id="concertScheduleResult">
		<result column="schedule_no" property="scheduleNo"/>
		<result column="concert_no" property="concertNo"/>
		<result column="schedule" property="schedule"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="concert_times" property="concertTimes"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap type="ConcertReview" id="concertReviewResult">
		<result column="review_no" property="reviewNo"/>
		<result column="user_no" property="userNo"/>
		<result column="concert_no" property="concertNo"/>
		<result column="review_content" property="reviewContent"/>
		<result column="score" property="score"/>
		<result column="review_status" property="reviewStatus"/>
		<result column="concert_title" property="concertTitle"/>
		<result column="review_date" property="reviewDate"/>		
		<result column="nickname" property="nickname"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="file_path" property="filePath"/>
	</resultMap>
	
	<resultMap type="Board" id="boardResult">
		<result column="board_no" property="boardNo" />
		<result column="user_no" property="userNo" />
		<result column="nickname" property="nickname" />
		<result column="board_title" property="boardTitle" />
		<result column="gender" property="gender" />
		<result column="birth" property="birth" />
		<result column="address" property="address" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="genre_like" property="genreLike" />
		<result column="grade" property="grade" />
		<result column="enroll_date" property="enrollDate" />
		<result column="withdrawal_date" property="withdrawalDate" />
		<result column="user_status" property="userStatus" />
		<result column="board_write_date" property="boardWriteDate" />
		<result column="board_title" property="boardTitle" />
		<result column="board_content" property="boardContent" />
		<result column="concert_no" property="concertNo" />
		<result column="like_count" property="likeCount" />
		<result column="board_status" property="boardStatus" />
		<result column="board_write_date" property="boardWriteDate" />
	</resultMap>

	<select id="selectCate" resultMap="categoryResult" >
 	    SELECT category_no,
 	    	   category_name,
 	    	   category_level
		FROM category
		WHERE category_no = #{categoryNo};
		<!-- LIMIT 1 OFFSET 0; -->
	</select>


	
	<select id="selectCateCon" resultMap="categoryResult" > 
 	    SELECT category_no, category_name
		FROM category
		WHERE ref_category_no = 1;
	</select>

	<select id="selectconList" resultMap="concertResult" >
		SELECT c.concert_no,
		       c.concert_title,
		       t.theater_name,
		       cs.start_date,
		       cs.end_date,
		       ca.change_name,
		       ca.file_path,
			   ct.category_no,
		       ct.category_name
		FROM concert c
		JOIN theater t ON c.theater_no = t.theater_no
		JOIN concert_schedule cs ON c.concert_no = cs.concert_no
		JOIN concert_attachment ca ON c.concert_no = ca.concert_no
		JOIN concert_category cc on  c.concert_no = cc.concert_no	
		JOIN category ct ON cc.category_no = ct.category_no
		WHERE c.concert_status = 'Y'
		 AND cc.category_no =  #{categoryNo};	
	</select> 
	
	<select id="selectCon" resultMap="concertResult" >
	    SELECT *
		FROM (
		    SELECT c.concert_no,
		           c.concert_title,
		           t.theater_name,
		           cs.start_date,
		           cs.end_date,
		           ca.change_name,
		           ca.file_path,
		           ct.category_no,
		           c.concert_status,
		           c.concert_runtime,
		           c.age_limit,
		           c.concert_production,
		           c.concert_plot
		    FROM concert c
		    JOIN theater t ON c.theater_no = t.theater_no
		    JOIN concert_schedule cs ON c.concert_no = cs.concert_no
		    JOIN concert_attachment ca ON c.concert_no = ca.concert_no
		    JOIN concert_category cc ON c.concert_no = cc.concert_no
		    JOIN category ct ON cc.category_no = ct.category_no
			) sub
		WHERE sub.concert_status = 'Y'
		  AND sub.concert_no = #{concertNo}
		ORDER BY sub.start_date
		LIMIT 1 OFFSET 0;
	</select>
		
	
	<select id="selectConDetail" resultMap="concertResult" >
	    SELECT *
		FROM (
		    SELECT c.concert_no,
		           c.concert_title,
		           t.theater_name,
		           cs.start_date,
		           cs.end_date,
		           ca.change_name,
		           ca.file_path,
		           ct.category_no,
		           c.concert_status,
		           c.concert_runtime,
		           c.age_limit,
		           c.concert_production,
		           c.concert_plot,
		           c.concert_members
		    FROM concert c
		    JOIN theater t ON c.theater_no = t.theater_no
		    JOIN concert_schedule cs ON c.concert_no = cs.concert_no
		    JOIN concert_attachment ca ON c.concert_no = ca.concert_no
		    JOIN concert_category cc ON c.concert_no = cc.concert_no
		    JOIN category ct ON cc.category_no = ct.category_no
			) sub
		WHERE sub.concert_status = 'Y'
		  AND sub.concert_no = #{concertNo}
		ORDER BY sub.start_date
		LIMIT 1 OFFSET 0;
	</select>
	
	<select id="selectComDetail" resultMap="concertReviewResult" >
	    SELECT user_no,
				concert_no,
				review_content,
				score,
				nickname,
				review_date,
				concert_members
		 FROM concert_review
		 JOIN staez_user USING (user_no)
		 JOIN concert USING (concert_no)
		WHERE concert_no = #{concertNo}
		  AND review_status = 'Y'
	</select>
	
	<select id="selectRevDetail" resultMap="boardResult" >
	    SELECT user_no,
				board_no,
				nickname,
			    concert_no,
				board_write_date,
				board_title,
				board_content
		 FROM board
		 JOIN staez_user USING (user_no)
		 JOIN tag USING (board_no)
		 JOIN concert USING (concert_no)
		WHERE concert_no = #{concertNo}
		  AND board_status = 'Y';
	</select>
	
	
	
	
	<!-- 좋아요 구현 -->
	<!-- 좋아요 갯수 몇개냐? -->
	<select id="selectConLikeCount" resultType="_int">
			SELECT COUNT(*)
			FROM concert_like
			WHERE concert_no = #{concertNo}
			  AND status = 'Y'
	</select>
	
	<select id="selectUserConLike" resultType="_int">
			SELECT COUNT(*)
			FROM concert_like
           WHERE user_no = #{userNo}
             AND concert_no = #{concertNo}
             AND status = 'Y'
	</select>
	
	<select id="selectUserConLikeAll" resultType="_int">
			SELECT COUNT(*)
			FROM concert_like
           WHERE user_no = #{userNo}
             AND concert_no = #{concertNo}
	</select>
	
	
	<insert id="insertConLike">
	        INSERT INTO concert_like (
	            user_no,
	            concert_no
	        ) VALUES (
	            #{userNo},
	            #{concertNo}
	        )
	</insert>
	
	<update id="updateConLike">
        UPDATE concert_like
           SET status = #{status}
         WHERE user_no = #{userNo}
           AND concert_no = #{concertNo}
    </update>
    
    
	<!-- 좋아요 구현 끝 -->
	
		<!-- selectconList
		 SELECT c.concert_no,
		       c.concert_title,
		       t.theater_name,
		       cs.start_date,
		       cs.end_date,
		       ca.change_name,
		       ca.file_path
		FROM concert c
		JOIN theater t ON c.theater_no = t.theater_no
		JOIN concert_schedule cs ON c.concert_no = cs.concert_no
		JOIN concert_attachment ca ON c.concert_no = ca.concert_no
		WHERE c.concert_no IN (
		        SELECT concert_no
		        FROM concert_category
		    )
	    AND c.concert_status = 'Y';
	    
	  -->

</mapper>