<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="concertReserveMapper" >
	<resultMap type="Concert" id="concertResult">
	    <result column="concert_no" property="concertNo"/>
	    <result column="theater_no" property="theaterNo"/>
	    <result column="concert_title" property="concertTitle"/>
	    <result column="concert_plot" property="concertPlot"/>
	    <result column="concert_runtime" property="concertRuntime"/>
	    <result column="concert_members" property="concertMembers"/>
	    <result column="concert_production" property="concertProduction"/>
	    <result column="age_limit" property="ageLimit"/>
	    <result column="update_date" property="updateDate"/>
	    <result column="concert_status" property="concertStatus"/>
	    <result column="change_name" property="changeName"/>
	    <result column="file_path" property="filePath"/>
	    <result column="start_date" property="startDate"/>
	    <result column="end_date" property="endDate"/>
	    <result column="category_no" property="categoryNo"/>
	    <result column="category_name" property="categoryName"/>
	    <result column="theater_name" property="theaterName"/>
	    <result column="path" property="path"/>
   </resultMap>
   
   <resultMap type="ConcertSchedule" id="ConcertScheduleResult">
	    <result column="schedule_no" property="scheduleNo"/>
	    <result column="concert_no" property="concertNo"/>
	    <result column="schedule" property="schedule"/>
	    <result column="start_date" property="startDate"/>
	    <result column="end_date" property="endDate"/>
	    <result column="concert_times" property="concertTimes"/>
	    <result column="status" property="status"/>
   </resultMap>
   
   <resultMap type="Seat" id="SeatResult">
	    <result column="seat_id" property="seatId"/>
	    <result column="concert_no" property="concertNo"/>
	    <result column="grade" property="grade"/>
	    <result column="price" property="price"/>
	    <result column="concert_date" property="concertDate"/>
	    <result column="seat_start_row" property="seatStartRow"/>
	    <result column="seat_end_row" property="seatEndRow"/>
	    <result column="seat_start_col" property="seatStartCol"/>
	    <result column="seat_end_col" property="seatEndCol"/>
	    <result column="status" property="status"/>
	    <result column="seat_count" property="seatCount"/>
   </resultMap>
   
   <resultMap type="Theater" id="theaterResult">
		<result column="theater_no" property="theaterNo"/>
		<result column="theater_name" property="theaterName"/>
		<result column="theater_row" property="theaterRow"/>
		<result column="theater_col" property="theaterCol"/>
		<result column="address" property="address"/>
		<result column="telno" property="telno"/>
	</resultMap>
	
	<resultMap type="ImpossibleSeat" id="impossibleSeatResult">
		<result column="impossible_seat_no" property="impossibleSeatNo"/>
		<result column="theater_no" property="theaterNo"/>
		<result column="impossible_seat_row" property="impossibleSeatRow"/>
		<result column="impossible_seat_col" property="impossibleSeatCol"/>
	</resultMap>
	
	<resultMap type="Reserve" id="reserveResult">
		<result column="reserve_no" property="reserveNo" />
		<result column="concert_no" property="concertNo" />
		<result column="user_no" property="userNo" />
		<result column="reserve_row" property="reserveRow" />
		<result column="reserve_col" property="reserveCol" />
		<result column="reserve_date" property="reserveDate" />
		<result column="pay_method" property="payMethod" />
		<result column="concert_date" property="concertDate" />
		<result column="concert_times" property="concertTimes" />
		<result column="reserve_status" property="reserveStatus" />
	</resultMap>
	
	<resultMap type="User" id="userResult">
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
		<result column="user_pwd" property="userPwd" />
		<result column="nickname" property="nickname" />
		<result column="gender" property="gender" />
		<result column="birth" property="birth" />
		<result column="address" property="address" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="genre_like" property="genreLike" />
		<result column="grade" property="grade" />
		<result column="enroll_date" property="enrollDate" />
		<result column="withdrawal_date" property="withdrawalDate" />
		<result column="user_status" property="userStatus" />
	</resultMap>
   
   <select id="reserveConcertInfo" resultMap="concertResult">
		select 
			c.concert_no, 
			c.concert_title, 
			min(cs.start_date) start_date,
			max(cs.end_date) end_date,
			t.theater_name,
			c.age_limit,
			c.concert_runtime,
			(ca.file_path || ca.change_name) path
		from concert c
		join concert_schedule cs on (c.concert_no = cs.concert_no)
		join theater t on (c.theater_no = t.theater_no)
		join concert_attachment ca on (c.concert_no = ca.concert_no)
		where c.concert_no = #{cNo}
		and ca.file_level = 1
		group by c.concert_no, t.theater_name, c.age_limit, c.concert_runtime, path
   </select>
   
   <select id="selectConcertPeriod" resultMap="concertResult">
	   select concert_no, min(start_date) start_date, max(end_date) end_Date 
		from concert_schedule
		where concert_no = #{cNo}
		and schedule != 'N'
		group by concert_no
   </select>
   
   <select id="selectConcertDayOff" resultMap="concertResult">
	   select concert_no, start_date, end_date  
		from concert_schedule
		where concert_no = #{cNo}
		and schedule = 'N'
   </select>
   
   <select id="selectChoiceDateSchedule" resultMap="ConcertScheduleResult"  parameterType="Map">
		select concert_no, schedule
		from concert_schedule
		where concert_no = #{cNo}
		and schedule != 'N'
		and #{date}::date between start_date and end_date 
   </select>
   
   <select id="selectRatingTotalSeat" resultMap="SeatResult" parameterType="Map">
	   select concert_no,
			grade,
			price,
			concert_date,
			((seat_end_row - seat_start_row + 1) * (seat_end_col - seat_start_col + 1)) seat_count,
			seat_start_row,
			seat_start_col,
			seat_end_row,
			seat_end_col
		from seat 
		where concert_no = #{cNo}
		and concert_date = #{date}::date
   </select>
   
   <select id="selectReserveRatingSeat" resultMap="SeatResult" parameterType="Map">
	   select  s.grade, count(r.reserve_no) seat_count
		from(select reserve_no, concert_no, reserve_row, reserve_col, concert_date, schedule
				from reserve
				where concert_no = #{cNo}
				and concert_date = #{date}::date
				and schedule = #{time}
				and (reserve_status = 'Y' or reserve_status = 'U')) r
		join seat s on (r.concert_no = s.concert_no)
		where r.reserve_row between s.seat_start_row and s.seat_end_row
		and r.reserve_col between s.seat_start_col and s.seat_end_col
		and s.concert_Date = #{date}::date
		group by s.grade
   </select>
   
   <select id="selectTheaterSeatInfo" resultMap="theaterResult">
	   select theater_no, theater_name, theater_row, theater_col, address, telno
		from theater
		where theater_name = #{theaterName}
   </select>
   
   <select id="selectImpossibleSeatInfo" resultMap="impossibleSeatResult">
	   select impossible_seat_no, theater_no, impossible_seat_row, impossible_seat_col
		from impossible_seat
		where theater_no = #{theaterNo}
   </select>
   
   <select id="selectReserveSeatInfo" resultMap="reserveResult" parameterType="Map">
	   select concert_no, reserve_row, reserve_col
		from reserve
		where (reserve_status = 'Y' or reserve_status = 'U')
		and schedule = #{time}
		and concert_date = #{date}::date
		and concert_no = #{cNo}
   </select>
   
   <select id="userInfo" resultMap="userResult">
   	select user_no, nickname, gender, birth, address, email, phone, grade
	from staez_user
	where user_no = #{uNo}
   </select>
</mapper>