<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="inquireMapper">
	
	<resultMap type="Category" id="categoryResult">
 		<result column="category_no" property="categoryNo" />
 		<result column="ref_category_no" property="refCategoryNo" />
 		<result column="category_name" property="categoryName" />
 		<result column="category_level" property="categoryLevel" />
	</resultMap>
	<resultMap type="Board" id="boardResult">
		<result column="board_no" property="boardNo" />
		<result column="ref_board_no" property="refBoardNo" />
		<result column="user_no" property="userNo" />
		<result column="board_level" property="boardLevel" />
		<result column="board_code" property="boardCode" />
		<result column="board_write_date" property="boardWriteDate" />
		<result column="board_title" property="boardTitle" />
		<result column="board_content" property="boardContent" />
		<result column="board_count" property="boardCount" />
		<result column="board_status" property="boardStatus" />
		<result column="category_no" property="categoryNo" />
		<result column="category_name" property="categoryName" />
		<result column="ref_category_no" property="refCategoryNo" />
		<result column="category_level" property="categoryLevel" />
		<result column="concert_no" property="concertNo" />
	</resultMap>

	<select id="selectCategory" resultMap="categoryResult">
		select category_no, category_name
		from category
		where ref_category_no = 3
	</select>	
	
	<insert id="insertBoard">
		insert into board (
							user_no,
							board_code,
							board_title,
							board_content
							)
							values(						
							#{userNo}, 					
							3, 			
							#{boardTitle}, 
							#{boardContent}
							)
	</insert>
	
	<insert id="insertBoardCategory">
		insert into board_category (
									board_no,
									category_no
									)
									values(
									currval('board_board_no_seq'::regclass),
									#{cNo}
									)
	</insert>
	
	<select id="selectFaqCount" resultType="_int">
		select count(b.board_no)
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
	</select>
	
	<select id="selectFaq" resultMap="boardResult">
		select b.board_no, b.board_title, b.board_content, c.category_name
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
	</select>
	
	<select id="titleSearchFaqCount" resultType="_int">
		select count(b.board_no)
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
		and b.board_title like '%' || #{content} || '%'
	</select>
	
	<select id="contentSearchFaqCount" resultType="_int">
		select count(b.board_no)
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
		and b.board_content like '%' || #{content} || '%'
	</select>

	<select id="titleSearchFaq" resultMap="boardResult">
		select b.board_no, b.board_title, b.board_content, c.category_name
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
		and b.board_title like '%' || #{content} || '%'
	</select>
	
	<select id="contentSearchFaq" resultMap="boardResult">
		select b.board_no, b.board_title, b.board_content, c.category_name
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
		and b.board_content like '%' || #{content} || '%'
	</select>
	
	<select id="selectCategoryFaqCount" resultType="_int">
		select count(b.board_no)
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
		and category_name = #{categoryName}
	</select>
	
	<select id="selectCategoryFaq" resultMap="boardResult">
		select b.board_no, b.board_title, b.board_content, c.category_name
		from board b
		join board_category bc on (b.board_no = bc.board_no)
		join category c on (bc.category_no = c.category_no)
		where board_code = 4
		and	board_Level = 1
		and b.board_status = 'Y'
		and category_name = #{categoryName}
	</select>
	
</mapper>

