<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="inquireMapper">
	
	<resultMap type="Category" id="categoryResult">
 		<result column="category_no" property="categoryNo" />
 		<result column="ref_category_no" property="refCategoryNo" />
 		<result column="category_name" property="categoryName" />
 		<result column="category_level" property="categoryLevel" />
	</resultMap>

	<select id="selectCategory" resultMap="categoryResult">
		select category_no, category_name
		from category
		where ref_category_no = 3
	</select>	
	
	<insert id="insertBoard">
		insert into board values(
							default,
							null,
							#{userNo}, 
							default, 3, 
							default, 
							#{boardTitle}, 
							#{boardContent}, 
							default, 
							default
							)
	</insert>
	
	
</mapper>

