<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="mypageMapper">
	<!-- 
		<resultMap type="mybatis-config.xml의 alias값" id="객체명Result 형태">
			<result column="user_no" property="userNo" />
		</resultMap>
	 -->

	<!-- db의 컬럼과 객체의 필드명이 완전히 같다면 resultType사용 가능 -->
	
	<select id="duplicateCheck" resultType="_int">
		SELECT COUNT(user_no)
		FROM staez_user
		WHERE nickname = #{nickname}
	</select>
	
	<select id="passwordCheck" resultType="_int">
		SELECT COUNT(user_no)
		FROM staez_user
		WHERE nickname = #{inputPwd}
	</select>
	
	
	<update id="updatePassword">
		UPDATE staez_user
		SET user_pwd = #{userPwd}
		WHERE user_id = #{userId}
	</update>

	<update id="updateUserInfo">
		UPDATE staez_user
		SET nickname = #{nickname},
			gender = #{gender},
			birth = #{birth},
			address = #{address},
			email = #{email},
			phone = #{phone},
			genre_like = #{genreLike}
		WHERE user_id = #{userId}
	</update>
</mapper>

