*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;    
}

.header-top{
    width: 90%;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

#header-top-flex {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.header-logo-area{
    width: 200px;
    height: 60px;
}

.header-logo-area img{
    width: 200px;
    height: 60px;
}

.header-search-area{
    width: calc(100% - 100px);
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #969696;
    max-width: 500px;
}

.header-search-area button{
    width: fit-content;
    height: 100%;
    border: none;
    background-color: white;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 20px;
}

.header-search-area button>img{
    width: 25px;
    height: 25px;
}

.header-search-area input{
    width: calc(100% - 60px);
    height: 100%;
    border: none;
    border-left: none;
    outline: none;
    margin-right: 20px;
}

.header-other-area{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}

.header-other-area a{
    text-decoration: none;
    color: black;
}

.stick{
    width: 1px;
    height: 20px;
    border: 1px solid black;
    margin: 0px 15px;
}

.other-img{
    width: 30px;
}

#login,
#join-membership,
#logout{
    font-weight: bold;
    white-space: nowrap;
}

.header-menu{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu-bar-area{
    width: auto;
    min-height: 50px;
    display: flex;
}

.menu-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 50px;
}

.menu-bar a{
    text-decoration: none;
    color: black;
}

.menu-bar-small {
    display: none;
}

.menu-bar>a>span{
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.line{
    color: #969696;
}

.menu-bar:hover a>span{
    color: #B51B75;
}

@media screen and (max-width: 900px) {
    .header-search-area {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .menu-bar-area {
        display: none;
    }

    .menu-bar-small {
        display: block;
    }

    .header-other-area {
        display: none;
    }
}