  /* 공통 CSS로 틀어지는 내용 변경 */
li a:link{text-decoration: none;}
li a:visited{text-decoration: none;}
li a:hover{text-decoration: none;}
li a:active{text-decoration: none;}

div a:link{text-decoration: none;}
div a:visited{text-decoration: none;}
div a:hover{text-decoration: none;}
div a:active{text-decoration: none;}

div p {
    margin-top: 0;
    margin-bottom: 0;
}
html { font-size:62.5%; }

/* 공연 navi */
.concert-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 1300px;
    height: 40px;
    padding-left: 75px;
    padding-bottom: 15px;
    margin: auto;
    text-decoration-line: none;
}

    .concert-ul li:hover a > span {
        color: #B51B75;
    }
    
    .concert-main-upper-section{
        background-color: #F8D082;
    }
    .concert-main-upper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .concert-main-upper-next{
        border: 2px solid #D9D9D9;
        background-color: #D9D9D9;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 50px 0 50px;
    }
    
    .concert-main-upper-next > img {
        width: 30px;
        height: 30px;
    }
    
    .concert-main-upper-pic-div img{
        width: 250px;
        height: 320px;
        margin: 10px;
        display: block;
        overflow: hidden;
        border-radius: 5px;
    }
    .concert-main-upper-pic-div{
        padding: 20px 0 20px 0;
        position: relative;
    }
    
    .concert-main-upper-sen-div{
        position: absolute;
        color: white;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .concert-main-upper-sen-div span{
        font-size: 1.2rem;
    }
    .concert-main-upper-sen-div p, 
    .concert-main-upper-sen-div span{
        line-height: 1.2;
    }
    .concert-main-upper-sen-div h2{
        line-height: 0.3;
    }
    
    .concert-main-hr{
        align-self: center;
        width: 75%;
        height: 3px;
        background: black;
    }
    
    .concert-main-list-section{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .concert-main-list-section>ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
    .concert-main-list-ul{
        position: relative;
    }
    .concert-main-list-area{
        display: flex;
        flex-direction: row;
        background-color: #D9D9D9;
        border-radius: 5px;
        align-items: center;
        margin: auto;
        position: absolute;
        padding: 3px;
        top: 98%;
        left: 85%;
        width: 70px;
        opacity : 0.9;
        /* transform: translate(-50%, -50%); */
    }
    /* li내의 ul요소 숨기기 */
    .concert-main-list-ul>li>ul{
        display: none;
        text-align: center;
    }
    /* hover로 .area인 곳에 마우스 올리면 ul 요소 보여주기 */
    .concert-main-list-ul>li>.area:hover+ul{
        display: block;
    }
    /* 호버 하는 동안 ul 요소 계속 보여주기 */
    .concert-main-list-ul>li>ul:hover{
        display:block;
    }
    .concert-main-list-area>li>a:hover{
        text-decoration: none;
        color: #640D6B;
        font-weight: 800;
    }
    
    
    .concert-main-list-button{
        border: 0;
        border-radius: 50px;
        background-color: #D9D9D9;
        width: 80px;
        height: 40px;
    }
    .concert-main-list-button:hover{
        background-color: #640D6B;  
        color: white;
    }
    .concert-main-grid-section{
        margin: auto;
    }
    
    .concert-main-grid{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: repeat(5, 200px);
    }
    .concert-main-grid img{
        width: 200px;
        border-radius: 5px;
    }
    
    @media(min-width: 485px){
        .concert-main-grid{ grid-template-columns: 1fr; }
    }
    
    @media (min-width: 485px) and (max-width: 749px){
        .concert-main-grid{ grid-template-columns: 1fr 1fr; }
    }
    
    @media (min-width: 750px) and (max-width: 999px){
        .concert-main-grid{ grid-template-columns: 1fr 1fr 1fr; }
    }
    
    @media (min-width: 1000px){
        .concert-main-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
    }
    
    @media (min-width: 1920px){
        .concert-main-grid{ grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
    }
    
    