/* 공통파일 margin 없앰 */
ul {
    margin-top: 0;
    margin-bottom: 0;
}


/* 공연 navi */
.concert-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 1300px;
    height: 40px;
    padding-left: 75px;
    margin: auto;
}
.concert-ul li:hover a > span {
    color: #B51B75;
}

/* 공연상세페이지 노란블럭 */
.concert-detail-upper-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8D082;
}

.concert-detail-upper-section > div{
    margin: 20px;
}


/* 공연상세페이지 대표사진*/
.concert-detail-upper-div img{
    width: 300px;
    height: 400px;
}
.concert-detail-body-div{
    align-items: center;
    width: 300px;   
}
/* 공연상세페이지 대표사진 아래 찜, 커뮤니티로 가기 */
.concert-detail-like{
    display: flex;
    width: 300px;
}
.concert-detail-like>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
}
/* 클래스로 안잡혀서 id로 */
#concert-detail-like-heartImg{
    width: 16px;
    height: 16px;
    position: relative;
    top:3px;
}
#concert-detail-like-heartImg-background{
    width: 32px;
    height: 32px;
    position: absolute;
}
.concert-detail-like-jim{
    width: 50px;
}
.concert-detail-like-commu{
    width: 250px;
    align-items: center;
}
.concert-detail-like-jim span{
    position: relative;
    font-size: 10px;
    font-weight: 700;
}
.concert-detail-like-commu span{
    color: white;
}

/* 공연상세페이지 별점, 공연안내 */
.concert-detail-table{
    margin-top: 30px;
    margin-bottom: 50px;
    height: 300px;
}
.concert-detail-table td{
    text-align: left;  
}

/* 공연상세페이지 달력, 예매하기 버튼 */
.reservation-button{
    border: 0;
    border-radius: 5px;
    background-color: #640D6B;
    width: 250px;
    height: 40px;
    margin-top: 20px;
}
.reservation-button span{
    color: white;
}

/* 공연상세페이지 아래 navi(공연상세정보, 판매정보, 한줄평, 관람후기) */
.concert-down-ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 20px 250px 20px 250px;
    margin-top: 0;
    margin-bottom: 0;
}
.concert-detail-hr{
    align-self: center;
    width: 80%;
    height: 3px;
    background: black;
    margin-top: 0;
    margin-bottom: 0;
}

/* 달력 */
.concert-calendar-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar{
    background-color: whitesmoke;
    width: 250px;
    height: 290px;
    border-radius: 5px;
}

.calendar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.calendar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li{
    width: calc(100% / 7);
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

#previous,
#next{
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#previous::before,
#next::before{
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    color: #ccc;
}

#previous::before{
    transform: translate(-50%, -50%) rotate(-135deg);
}

#next::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

#previous:hover::before,
#next:hover::before{
    border-color: #B51B75;
}

.days{
    font-weight: 600;
}

.dates li:hover::before{
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #B51B75;
    border-radius: 50px;
    z-index: -1;
    cursor: pointer;
}   

.dates li:hover{
    color: white;
    cursor: pointer;
}

.dates li.today{
    /* color: #ccc */
}

/* .dates li.today::before{    
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #B51B75;
    border-radius: 50px;
    z-index: -1;
} */

.dates li.inactive{
    color: #ccc
}

.clickDate::before{
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #B51B75;
    border-radius: 50px;
    z-index: -1; 
}

.dates li.clicked{
    color: white;
}
