#admin-main-wrapper {
    padding: 20px 50px;
    text-align: left;
}

#admin-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#admin-header>h1 {
    width: fit-content;
}

#admin-header>select {
    width: 160px;
    height: 40px;
}

#admin-search {
    border: 1px solid #969696;
    border-radius: 20px;
    max-width: 800px;
    display: flex;
    align-items: center;
    height: 40px;
}

#admin-search>button {
    border: none;
    background: none;
    cursor: pointer;
    width: fit-content;
    margin-left: 20px;
    margin-right: 10px;
    height: 100%;
}

#admin-search>button>img {
    width: 20px;
}

#admin-search>input {
    border: none;
    outline: none;
    margin-right: 20px;
    height: 100%;
}

#admin-main-wrapper>li {
    margin: 10px;
}

#admin-table td {
    text-align: center;
    border-spacing: 0px;
    border-style: none;
    line-height: 50px;
    border-bottom: 1px solid #B51B75;
    padding: 0px 10px;
}

#admin-table td:nth-child(1) {
    width: 50px;
}

#admin-table>form {
    width: 100%;
}

#admin-table table {
    width: 100%;
    border-spacing: 0px;
    border-style: none;
    padding: 0px;
    white-space: nowrap;
}

#admin-table thead>tr {
    background-color: #B51B75;
    border-collapse: collapse;
    border-spacing: 0px;
    color: white;
}

.admin-middle {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 950px) {
    #admin-search {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    nav {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #admin-header>select {
        display: none;
    }

    .btn-staez {
        display: none;
    }
}

.modal-body>ul>li {
    display: flex;
    margin-bottom: 20px;
}

.modal-body>ul>li>h3 {
    width: 80px;
}

.modal-body>ul>li>input {
    width: 70%;
    height: 35px;
    padding: 10px;
}

.modal-body>ul>li>textarea {
    width: 70%;
    height: 200px;
    resize: none;
    padding: 10px;
}